<div>
    {{#if prods.length}}
        {{#each prods}}
        <h3>{{product.title}} x{{this.quantity}}u.</h3>
        <li>${{product.price}} u.</li>
        <li>descripcion: {{product.description}}</li>
        <li>codigo: {{product.code}}</li>
        <li>stock: {{product.stock}}</li>
        {{/each}}
        <button class='purchase' data-id="{{this._id}}">Finalizar Compra</button>
    {{else}}
        <script>alert("El carrito esta vacio!")</script>
        <script>window.location.replace(`/realtimeproducts`)</script>
    {{/if}}
</div>

<script src="/js/purchase.js"></script>