<div>
    <h3>{{product.title}}</h3>
    <li>${{product.price}}</li>
    <li>descripcion: {{product.description}}</li>
    <li>codigo: {{product.code}}</li>
    <li>stock: {{product.stock}}</li>
    <button class='addToCart' data-id="{{this._id}}">A Carrito</button>
</div>

<script src="/js/addToCart.js"></script>