<button class='seeCart' data-id="{{cartId}}">VER MI CARRITO</button>
<div id="productsContainer">
    {{#each products}}
            <h3>{{this.title}}</h3>
            <li>descripcion: {{this.description}}</li>
            <li>precio: {{this.price}}</li>
            <li>codigo: {{this.code}}</li>
            <li>stock: {{this.stock}}</li>
            <button class='addToCart' data-id="{{this._id}}">Agregar al Carrito</button>
    {{/each}}
</div>   
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/addToCart.js"></script>