<div>
    <button class='seeCart' data-id="{{cartId}}">VER MI CARRITO</button>
    <a href="/api/session/logout">Cerrar Sesión</a></p>
</div>
<div id="productsContainer">
    {{#each products}}
            <h3>{{this.title}}</h3>
            <li>descripcion: {{this.description}}</li>
            <li>precio: {{this.price}}</li>
            <li>codigo: {{this.code}}</li>
            <li>stock: {{this.stock}}</li>
            <button class='addToCart' data-id="{{this._id}}">Agregar al Carrito</button>
    {{/each}}
</div>   

<script src="/js/addToCart.js"></script>